@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (SignInManager.IsSignedIn(User))
{

    <a onclick="ShowPopup(0)" class="btn btn-primary popup" data-toggle="modal" data-target="#modal-create-edit-user">Add New <i class="fa fa-plus"></i></a>

    <div aria-hidden="true" aria-labelledby="modal-create-edit-user-label" role="dialog" tabindex="-1" id="modal-create-edit-user" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="needs-validation" novalidate asp-action="NewAgreement" asp-controller="Home">
                    <div class="card-header bg-primary text-white modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Edit Agreement</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="card-body" id="modal-aggrement">
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12">
                                <div class="float-right">
                                    <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Close</button>
                                    <button id="btnSave" class="btn btn-primary rounded-0" type="submit">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <br />
        <table id="agreementList" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th>ProductGroupName1</th>
                    <th>ProductName</th>
                    <th>EffectiveDate</th>
                    <th>ExpirationDate</th>
                    <th>ProductPrice</th>
                    <th>NewPrice</th>
                    <th>Active</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>

    @section scripts{

        <script>
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    var form = document.getElementById('needs-validation');
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                }, false);
            })();



            function ShowPopup(id) {
                $.ajax(
                    {
                        type: "GET",
                        url: "Home/AddEditAgreement?id="+id,
                        success: function (response) {
                            $('#modal-create-edit-user').find("#modal-aggrement").html(response);
                            $('#modal-create-edit-user').modal("show");
                        },
                    });
            }
            $(document).ready(function () {
                LoadAgreementData();
            });

            function LoadAgreementData() {
                if ($.fn.DataTable.isDataTable("#agreementList")) {
                    $('#agreementList').DataTable().clear().destroy();
                }
                $('#agreementList').DataTable({
                    "processing": true, // for show progress bar
                    "serverSide": true, // for process server side
                    "filter": true, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "ajax": {
                        "url": "/Home/AgreementList",
                        "type": "POST",
                        "datatype": "json"
                    },
                    "columnDefs": [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }],
                    "columns": [
                        { "data": "productGroupName", "name": "GroupCode", "autoWidth": true },
                        { "data": "productGroupName", "name": "GroupCode", "autoWidth": true },
                        { "data": "productName", "name": "ProductNumber", "autoWidth": true },
                        {
                            "data": "effectiveDate", "name": "effectiveDate", "autoWidth": true,
                            "render": function (data) {
                                var date = new Date(data);
                                var month = date.getMonth() + 1;
                                return (month.length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear();
                            }
                        },
                        {
                            "data": "expirationDate", "name": "expirationDate", "autoWidth": true,
                            "render": function (data) {
                                var date = new Date(data);
                                var month = date.getMonth() + 1;
                                return (month.length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear();
                            }
                        },
                        { "data": "productPrice", "name": "productPrice", "autoWidth": true },
                        { "data": "newPrice", "name": "newPrice", "autoWidth": true },
                        {
                            "data": "active", "name": "Active", "autoWidth": true,
                            "sortable": false,
                            "render": function (data, type, full, meta) {
                                str = '<p><i class="fa fa-times" aria-hidden="true"></i></p>'
                                if (full.active) {
                                    str = '<p><i class="fa fa-check" aria-hidden="true"></i></p>'
                                }
                                return str;
                            }
                        },
                        {
                            "sortable": false,
                            "render": function (data, type, full, meta) {
                                str = '<a onclick="ShowPopup(' + full.id + ')" class="btn btn-primary popup" data-toggle="modal" data-target="#modal-create-edit-user">Edit</a>'
                                return str;
                            }
                        },
                        {
                            data: null,
                            "sortable": false,
                            render: function (data, type, full, meta) {
                                str = '<a class="btn btn-danger" href="#" onclick=DeleteData("' + full.id + '");>Delete</a>';
                                return str;
                            }
                        },
                    ]
                });
            }
        function DeleteData(CustomerID) {
            if (confirm("Are you sure you want to delete ...?")) {
                Delete(CustomerID);
            } else {
                return false;
            }
        }
            function Delete(CustomerID) {
            var url = '@Url.Content("~/")' + "Home/Delete";

            $.post(url, { Id: CustomerID }, function (data) {
                if (data.success) {
                    LoadAgreementData();
                } else {
                    alert("Something Went Wrong!");
                }
            });
            }

            function LoadProduct() {
                var goupId = $("#ProductGroupId").val();
                $.get("Home/GetProductListByGroupId?groupId=" + goupId).done(function (data) {
                    $('#ProductId').empty();
                    for (var i = 0; i < data.availableproduct.length; ++i) {
                        $('#ProductId').closest('select').append($('<option value="' + data.availableproduct[i].value + '">' + data.availableproduct[i].text + '</option>'));
                    }
                    $('#ProductId').closest('select').trigger("chosen:updated");
                });
            }
        </script>
    }
}
