@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (SignInManager.IsSignedIn(User))
{

    <a onclick="ShowPopup(0)" class="btn btn-primary popup" data-toggle="modal" data-target="#modal-create-edit-user">Add New User <i class="fa fa-plus"></i></a>

    <div aria-hidden="true" aria-labelledby="modal-create-edit-user-label" role="dialog" tabindex="-1" id="modal-create-edit-user" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="needs-validation" novalidate asp-action="NewAgreement" asp-controller="Home">
                    <div class="card-header bg-primary text-white modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Edit Agreement</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="card-body" id="modal-aggrement">
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12">
                                <div class="float-right">
                                    <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Close</button>
                                    <button class="btn btn-primary rounded-0" type="submit">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table id="agreementList" class="table table-striped table-bordered" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>ProductGroupName</th>
                <th>ProductName</th>
                <th>EffectiveDate</th>
                <th>ExpirationDate</th>
                <th>ProductPrice</th>
                <th>NewPrice</th>
                <th>Active</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
    </table>
    @section scripts{
        <script>
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    var form = document.getElementById('needs-validation');
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                }, false);
            })();


            function ShowPopup(id) {
                $.ajax(
                    {
                        type: "GET",
                        url: "Home/AddEditAgreement?id="+id,
                        success: function (response) {
                            debugger;
                            $('#modal-create-edit-user').find("#modal-aggrement").html(response);
                            $('#modal-create-edit-user').modal("show");
                        },
                    });
            }
            $(document).ready(function () {
                LoadAgreementData();
            });

            function LoadAgreementData() {
                if ($.fn.DataTable.isDataTable("#agreementList")) {
                    $('#agreementList').DataTable().clear().destroy();
                }
                $('#agreementList').DataTable({
                    "sPaginationType": "full_numbers",
                    "bProcessing": true,
                    "sAjaxSource": "/Home/AgreementList",
                    aoColumns: [
                        { "data": "productGroupName", "sClass": "text-center", "sWidth": "10%" },
                        { "data": "productName", "sClass": "text-center", "sWidth": "10%" },
                        {
                            "data": "effectiveDate", "sClass": "text-center", "sWidth": "10%",
                            "mRender": function (data) {
                                var date = new Date(data);
                                var month = date.getMonth() + 1;
                                return (month.length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear();
                            }
                        },
                        {
                            "data": "expirationDate", "sClass": "text-center", "sWidth": "10%",
                            "mRender": function (data) {
                                var date = new Date(data);
                                var month = date.getMonth() + 1;
                                return (month.length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear();
                            }
                        },
                        { "data": "productPrice", "sClass": "text-center", "sWidth": "10%" },
                        { "data": "newPrice", "sClass": "text-center", "sWidth": "10%" },
                        {
                            "data": "active", "sClass": "text-center", "sWidth": "10%",
                            "bSearchable": false,
                            "bSortable": false,
                            "mRender": function (data, type, full) {
                                var active = full["active"];
                                str = '<p><i class="fa fa-check" aria-hidden="true"></i></p>'
                                if (!active) {
                                    str = '<p><i class="fa fa-times" aria-hidden="true"></i></p>'
                                }
                                return str;
                            }
                        },
                        {
                            "bSearchable": false,
                            "bSortable": false,
                            "sClass": "text-center",
                            "sWidth": "10%",
                            "mRender": function (data, type, full) {
                                var id = full["id"];
                                str = '<a onclick="ShowPopup(' + id + ')" class="btn btn-primary popup" data-toggle="modal" data-target="#modal-create-edit-user">Edit</a>'
                                return str;
                            }
                        },
                        {
                            "bSearchable": false,
                            "bSortable": false,
                            "sClass": "text-center",
                            "sWidth": "10%",
                            "mRender": function (data, type, full) {
                                var id = full["id"];
                                str = '<a class="btn btn-danger" href="#" onclick=DeleteData("' + id + '");>Delete</a>';
                                return str;
                            }
                        }
                    ]
                });
            }
        function DeleteData(CustomerID) {
            if (confirm("Are you sure you want to delete ...?")) {
                Delete(CustomerID);
            } else {
                return false;
            }
        }
            function Delete(CustomerID) {
            var url = '@Url.Content("~/")' + "Home/Delete";

            $.post(url, { Id: CustomerID }, function (data) {
                if (data.success) {
                    LoadAgreementData();
                } else {
                    alert("Something Went Wrong!");
                }
            });
            }

            function LoadProduct() {
                var goupId = $("#ProductGroupId").val();
                $.get("Home/GetProductListByGroupId?groupId=" + goupId).done(function (data) {
                    $('#ProductId').empty();
                    for (var i = 0; i < data.availableproduct.length; ++i) {
                        $('#ProductId').closest('select').append($('<option value="' + data.availableproduct[i].value + '">' + data.availableproduct[i].text + '</option>'));
                    }
                    $('#ProductId').closest('select').trigger("chosen:updated");
                });
            }
        </script>
    }
}
